Django==1.2.3
#PIL==1.1.7
-e hg+https://bitbucket.org/etienned/pil-2009-raclette/#egg=PIL
#South==0.7.6
#argparse==1.2.1
#distribute==0.6.36
#dj-database-url==0.2.1
#django-heroku-memcacheify==0.4
#django-notification==0.2
#django-pylibmc-sasl==0.2.4
#django-rosetta==0.5.6
#gevent==0.13.8
#greenlet==0.4.0
#gunicorn==0.17.2
#ipdb==0.2
#ipython==0.10.1
#psycopg2==2.4.6
#recaptcha-client==1.0.5
#wsgiref==0.1.2
