{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'O strani' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'O strani' %}</h1>
       	<p>{% trans 'Pozdravljeni na portalu Časovne banke Maribor! Časovna banka Maribor je skupnost, v kateri lahko z drugimi uporabniki menjujete storitve, pri čemer je menjalno sredstvo čas.' %}</p>

<p><a href="{{ MEDIA_URL }}pravilnik.doc" target="_blank">{% trans 'Pravilnik Časovne banke Maribor (PDF)' %}</a></p>

<p>{% trans 'Časovna banka Maribor je spletna baza, ki beleži in spremlja kroženje in porabo časovne menjave v skupnosti Časovne banke Maribor. Menjave potekajo po principu - jaz tebi ti njej, ona meni in tako naprej vse do meja tistih, ki se odločimo za članstvo v banki. Časovna banka omogoča aktivno povezovanje konkretnih ponudb in povpraševanj po storitvah, znanju in spretnostih; je neke vrste »časovna posredovalnica« ali »menjalnica«. Osnova tovrstnega skupnostnega sodelovanja ali menjave je pravilo, da vsa  znanja in vse spretnosti vrednoti oziroma ceni enako – ena ura dela je enaka eni uri dela! Opravim delo, ker ga znam in ker me veseli, na podoben način drugi meni opravi delo, ki ga sam ne zmorem, ne znam.' %}</p>

<p><a href="{{ MEDIA_URL }}pravila.doc" target="_blank">{% trans 'Pravila in pogoji članstva v Časovni banki Maribor (PDF)' %}</a></p>

<p>{% trans 'Podrobna navodila o upravljanju spletne strani najdete v naslednji predstavitvi:' %}</p>

<p><img src="{{ MEDIA_URL }}imgs/delo.png" /></p>

<p><a href="#">{% trans 'Navodila za uporabo portala ČBM (PDF/video)' %}</a></p>

<p>{% trans 'Predstavitveni video - kaj je časovna banka:' %}</p>

<p><object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/yb-oVZ-AZd8?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/yb-oVZ-AZd8?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object><p><br /><br />

    </div>

{% endblock %}
