{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Kontakt' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Kontakt' %}</h1>

<p>{% trans 'Pišete nam lahko tudi na elektronski naslov <a href="mailto:cbs.maribor@gmail.com">cbs.maribor@gmail.com</a>' %}</p>

<p>{% trans 'Osebno se pri nas lahko oglasite na naslovu: <br />Zofijini ljubimci – društvo za razvoj humanistike, <br />Ob železnici 16, <br />2000 Maribor <br />(Upravna zgradba, pisarna v prvem nadstropju) <br />Uradne ure so vsak delovnik med 10. in 18. uro <br /><br />Pokličete nas lahko na telefonsko številko: (02) 300 68 500 <br />Uradne ure so vsak delovnik med 10. in 18. uro <br />' %}</p>
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Pošlji sporočilo' %}"/>
        </form>
    </div>
{% endblock %}
