{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Kontakt' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Kontakt' %}</h1>
			<div class="section_4">
		        <h2>{% trans 'Poštni naslov' %}</h2>
					<p>Zofijini ljubimci – društvo za razvoj humanistike<br />
					Ob železnici 8<br />
					2000 Maribor</p>
		        <h2>{% trans 'Uradne ure' %}</h2>
					<p><strong>V torek</strong> – od 10. do 13. ure<br />
					<b><strong>V četrtek</strong> – od 10. do 16. ure</p>
		        <h2>{% trans 'Kako do nas?' %}</h2>
					<p>Pisarna društva se nahaja v Upravni zgradbi Pekarne (Hostel) – skozi glavni vhod na levo na koncu hodnika.</p>
<iframe width="685" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ob+%C5%BEeleznici+8,+Maribor,+Slovenia&amp;aq=t&amp;sll=37.0625,-95.677068&amp;sspn=40.188298,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Ob+%C5%BEeleznici+8,+2000+Maribor,+Slovenia&amp;t=m&amp;z=14&amp;ll=46.55202,15.642962&amp;output=embed"></iframe><br />
		        <h2>{% trans 'Telefon' %}</h2>
					<p>031 200 495 (Aleksandra) &#8211; predsednica društva<br />
					041 203 978 (Matej) &#8211; ŠMP<br />
					031 702 207 (Andrej)<br />
					031 445 781 (Branko) &#8211; Sekcija za promocijo UTD<br />
					051 353 281 (Robert) (pred klicem pošlji SMS)</p>
				<h2>{% trans 'Elektronska pošta (e-maili)' %}</h2>
					<p>Zofijini - <a href="mailto: zofijini@yahoo.com">zofijini@yahoo.com</a> ali <a href="mailto: zofijini@gmail.com">zofijini@gmail.com</a><br />
					Sekcija UTD -<a href="mailto: utd.slovenija@gmail.com">utd.slovenija@gmail.com</a><br />
					Časovna banka - <a href="mailto: cbs.maribor@gmail.com">cbs.maribor@gmail.com</a><br />
					Ali preko spodnjega obrazca:<br /></p>
					<form action="" method="post">
						{% csrf_token %}
						<fieldset>
							{% include "main/form_snippet.html" %}
						</fieldset>
						<input class="submit" type="submit" value="{% trans 'Pošlji sporočilo' %}"/>
					</form>
    </div>
{% endblock %}
