{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Pogosta vprašanja' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Pogosta vprašanja' %}</h1>
<ul>
<li><a href="#what">Kaj je časovna banka?</a>
<li><a href="#why">Zakaj bi se včlanil v časovno banko?</a>
<li><a href="#how1">Kako časovna banka deluje?</a>
<li><a href="#who">Komu je časovna banka namenjena?</a>
<li><a href="#how2">Kako se prijavim?</a>
<li><a href="#where">Kje lahko dobim več informacij o ČBM?</a>
<!--<li><a href="#"></a>-->
</ul>

<h2 id="what">Kaj je časovna banka?</h2>

<p>Časovno bančništvo je specifičen način prostovoljnega povezovanja in sodelovanja ljudi, ki temelji na menjavi storitev, znanj in spretnosti. Menjava ni finančna in poteka med večjim številom ljudi.<br />
Ne temelji torej na menjavi: jaz tebi ti meni, ampak jaz tebi ti njej, ona meni in tako naprej vse do meja tistih, ki se odločimo za članstvo v banki.<br />
Idejni oče Časovnega bančništva (time-banking) je prof. Edgar Cahn (ustanovitelj in predsednik društva Time Dollar USA), ki je v osemdesetih letih prejšnjega stoletja razvil nov pristop k socialni državi in družbeni pravičnosti. Njegov pristop spreminja prejemnike socialnih storitev v sočasne soustvarjalce le-teh. (Vir: <a href="http://www.casovnabanka.si">www.casovnabanka.si</a>)</p>

<h2 id="why">Zakaj bi se včlanil v časovno banko?</h2>

<p>Ker gre za sistem, ki deluje na načelih vzajemnosti, soustvarjanja in enakosti. Vzajemnost spreminja ustaljeni pogled na prostovoljno delo, saj pripravljenost  na »soustvarjanje« predpostavlja dvo ali več smerni tok vzajemne pomoči.<br />
To pojmovanje spreminja klasično dobrodelnost, ki zgolj »daje«, v menjavo storitev. Pri tem vsa znanja in vse spretnosti vrednoti/ceni enako – ena ura dela je vedno ena ura dela! S tem pristopom posameznice in posamezniki ob prevladujoči tržni menjavi vzpostavljamo sfero menjave in povezovanja, ki je preprosto drugačna in ne zapade krizi, ko se v njej znajde tržna ekonomija. (Vir: <a href="http://www.casovnabanka.si">www.casovnabanka.si</a>)</p>

<h2 id="how1">Kako časovna banka deluje?</h2>

<p>Časovna banka je v tehničnem delu točka, ki aktivno omogoča povezovanje konkretnih ponudb in povpraševanj po storitvah, znanju in spretnostih; je neke vrste »časovna posredovalnica« ali »menjalnica«. Ob že utečenih oblikah blagovne in storitvene menjave ter ob ustaljenih načinih sobivanja ljudi:</p>

<p><b>a) omogoča:</b></p>
<ul class="custom">
<li>izmenjavo storitev in uslug med članicami in člani skupnosti, ki so vključeni v mrežo;</li>
<li>prostor, ki enako vrednoti neformalno izkazana in formalna znanja ter spretnosti (ura dela je vedno ura dela);</li>
<li>opravljanje in menjavo storitev, znanja in spretnosti, ki ne poteka po načelih »darovanja« in tudi ne po načelu denarne nagrade za opravljeno delo;</li>
<li>članicam in članom opravljati koristno, želeno, potrebno delo in ko/če potrebujejo storitev ali pomoč pri opravilu, za katerega sami nimajo znanja, spretnosti, časa ali pa bi se ga le radi priučili, pomoč sočlanov/sočlanic;</li>
<li>članicam in članom omogoča koristno sodelovanje z drugimi v njihovi skupnosti;</li>
<li>enostaven dostop do storitev, ki so drugače težje dosegljive, drage, manj poznane, saj so informacije o ponudbi in povpraševanju zbrane na enem mestu.</li>
</ul>

<p><b>b) Spodbuja:</b></p>
<ul class="custom">
<li>drugačen pogled na sfero dela (v kateri je praviloma vrednoteno le plačano delo), saj enako vrednoti vsa znanja, sposobnosti, spretnosti in izmenjane storitve. Pri tem se ne ozira na vrsto storitve, izobraženost posameznika, fizično, umsko zahtevnost dela ...</li>
<li>prakticiranje/izvajanje različnih, drugačnih, manj uveljavljenih in ustaljenih znanj ter spretnosti, saj od ponudnikov ne zahteva formalnih potrdil;</li>
<li>širjenje socialne mreže in družbene kohezije preko opravljanja storitev;</li>
<li>drugačno menjavo, ki poleg utečenega načela izenačevanja ponudbe in povpraševanja vključuje vidik »soustvarjanja/sodelovanja« ter tako osmisli dejavnost posameznika, ki nudi pomoč, kot tudi prejemnika pomoči.</li></ul> <p>(Vir: <a href="http://www.casovnabanka.si">www.casovnabanka.si</a>)</p>

<h2 id="who">Komu je časovna banka namenjena?</h2>

<p>Časovna banka omogoča menjave, ko potekajo vzporedno z utečenim trgom – ker takšne (drugačne) menjave hočemo, želimo, ali pa, ker drugače nočemo. <br />

Udeleženk in udeležencev ne postavlja v položaj tistih, ki »dajo«, pomagajo (tistih, ki imajo, so dobri ipd.) in onih, ki »dobijo« (nimajo, ne zmorejo ipd.) – v tej točki presega klasično prostovoljstvo. Tudi kot otrok, dijakinja, študent, brezposelna oseba, upokojenka, kot imigrant ipd., torej vedno, ko sem »zunaj trga dela«, lahko vstopim v polje ponudbe in pridobivanja - menjave.<br />

V časovno banko se lahko včlanim tudi, če imam službo in želim ob njej izkoristiti svoje sposobnosti, spretnosti, znanja, ki jih moja služba pušča ob strani ali pa preprosto želim in zmorem narediti še kaj ali pa morda le na drugačen način kot v službi. (Vir: <a href="http://www.casovnabanka.si">www.casovnabanka.si</a>) </p>

<h2 id="how2">Kako se prijavim?</h2>

<p>Prijavite se lahko na portalu <a href="http://www.cbs-mb.si">www.cbs-mb.si</a>, in sicer tako, da se najprej registrirate. Ko je vaš uporabniški račun odobren, se lahko z uporabniškim imenom in geslom prijavite v sistem.</p>

<h2 id="where">Kje lahko dobim več informacij o ČBM?</h2>

<p>Več informacij lahko dobite, če nas kontaktirate preko <a href="http://www.cbs-mb.si/contact">kontaktnega obrazca</a> ali nam pišete na elektronski naslov <a href="mailto:cbs.maribor@gmail.com">cbs.maribor@gmail.com</a>, lahko pa nas tudi pokličete na telefonsko številko (02) 300 68 500, ali nas osebno obiščete na naslovu »Ob železnici 16, 2000 Maribor (Upravna zgradba, pisarna v prvem nadstropju) - uradne ure so vsak delovnik med 10. in 18. uro.</p>

    </div>
{% endblock %}
