
{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Domov' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>Časovna banka</h1>
        <p>{% blocktrans %}Časovna banka je skupnost, v kateri lahko z drugimi uporabniki menjujete storitve, pri čemer je menjalno sredstvo čas.{% endblocktrans %}</p>
    </div>

    <div class="section_4">
        <h1>{% trans 'Nove storitve' %}</h1>
        {% if not user.is_authenticated %}
            {% url user-register as user_register %}
            {% url user-register-youth as user_register_youth %}
            {% url user-register-org as user_register_org %}
            <p>{% blocktrans %}Da bi videli vse storitve, se morate <a href="{{ user_register }}">registrirati</a>. (Obrazca za <a href="{{ user_register_youth }}">mladoletne</a> in <a href="{{ user_register_org }}">organizacije</a>).{% endblocktrans %}</p>
        {% endif %}
        <p>
        <div class="subcontent services">
            {% include "serv/listservs.html" %}
            <a href="{% url serv-list %}" class="more">{% trans "+ storitve" %}</a>
        </div>
        <div class="cleaner"></div>
    </div>
{% endblock %}
