{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Povezave' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Povezave' %}</h1>
	    <p><a href="http://www.zofijini.net/">Zofijini ljubimci</a><br />
        <a href="http://senin-krog.sena-drustvo.eu/">Senin menjalni krog</a><br />
        <a href="http://www.pozitivke.net/lets/">Lokalna izmenjava</a><br />
        <a href="http://www.podarimo.si/">Podarimo si</a><br />
        <a href="http://www.infopeka.org/web/">Infopeka</a><br />
        <a href="http://www.pekarna.org/web/">PEKARNA Magdalenske Mreže</a><br />
        <a href="http://www.prostovoljstvo.org/">Prostovoljstvo</a><br />
        <a href="http://ebm.si/o/sl/">Ekologi brez meja</a><br />
        <a href="http://www.ekovas.si/">Eko vas</a><br />
        <a href="http://www.ekotako.si/">Ekotako</a><br />
        <a href="http://prevoz.org/">Prevoz</a><br />
        <a href="http://www.couchsurfing.org/">CouchSurfing</a></p>
    </div>
{% endblock %}
