{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Povezave' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Povezave' %}</h1>
	        <p><ul>
            <li><a href="http://www.casovnabanka.si/">Časovna banka Slovenije</a></li>
            <li><a href="http://www.zofijini.net/">Zofijini ljubimci</a></li>
            <li><a href="http://senin-krog.sena-drustvo.eu/">Senin menjalni krog</a></li>
            <li><a href="http://www.pozitivke.net/lets/">Lokalna izmenjava</a></li>
            <li><a href="http://www.podarimo.si/">Podarimo si</a></li>
            <li><a href="http://www.infopeka.org/web/">Infopeka</a></li>
            <li><a href="http://www.pekarna.org/web/">PEKARNA Magdalenske Mreže</a></li>
            <li><a href="http://www.prostovoljstvo.org/">Prostovoljstvo</a></li>
            <li><a href="http://www.ocistimo.si/">Očistimo Slovenijo</a></li>
            <li><a href="http://prevoz.org/">Prevoz</a></li>
            <li><a href="http://www.ekovas.si/">Eko vas</a></li>
            <li><a href="http://www.couchsurfing.org/">CouchSurfing</a></li>
            <!--<li><a href=""></a></li>-->
            </ul></p>
    </div>
{% endblock %}
