{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Pravilnik' %} {% endblock %}

{% block content %}
    <div class="section_3">

<h1>Pravilnik Časovne banke Maribor</h1>

<p>Ta pravilnik določa, pravice in obveznosti uporabnikov Časovne banke Maribor (v nadaljevanju ČBS - Mb), posledice kršitve pravilnika ČBS - Mb, temeljna načela ČBS - Mb, način včlanjevanja v ČBS - Mb, način izmenjave ur in odgovornost za škodo nastalo v povezavi z izvajanjem menjav. <br />
Vsebino tega pravilnika spreminja Odbor Časovne banke Maribor (v nadaljevanju odbor ČBS - Mb) v skladu z nasveti za boljše delovanje s strani uporabnikov.</p>

<h2>1. Razlaga pojmov uporabljenih v tem pravilniku</h2>

<p>Pojmi uporabljeni v tem pravilniku, ki niso razloženi v tem členu, se razlagajo na podlagi pravil slovenskega jezika.
<br />
Pojmi, ki imajo poseben pomen, so:
<ul><li>Pol ure je najmanjša enota poslovanja v okviru ČBS - Mb.</li>
<li>Administrator je oseba, ki vodi delovanje ČBS - Mb.</li>
<li>Posredniki so osebe, ki administratorju pomagajo pri vodenju ČBS - Mb.</li>
<li>Uporabniški profil je profil na internetni strani <a href="http://www.cbs-mb.si">www.cbs-mb.si</a>.</li>
<li>Registracijski sporazum je pravilnik o uporabi portala <a href="http://www.cbs-mb.si">www.cbs-mb.si</a>.</li>
<li>Osebni dokument je potni list, osebna izkaznica ali vozniško dovoljenje.</li>
</ul>

<h2>2. člen – Odbor ČBS - Mb</h2>

<p>Odbor ČBS - Mb je sestavljen iz petih (5) članov Časovne banke Maribor - administratorja in štirih (4) predstavnikov uporabnikov ČBS - Mb. Uporabniki so v odbor ČBS - Mb izvoljeni na sestanku članov ČBS - Mb. Odbor se voli in potrjuje enkrat na leto. Kandidata lahko pisno ali ustno predlaga vsak član ČBS - Mb. V odbor so predlagani kandidati izvoljeni z navadno večino prisotnih na sestanku. Administratorja določi odbor ČBS - Mb.</p>

<h2>3. člen – Sestanek uporabnikov ČBS - Mb</h2>

<p>Sestanek uporabnikov ČBS - Mb poteka najmanj enkrat na leto. Sestanek skliče administrator na lastno pobudo ali pobudo člana odbora ČBS - Mb. Dnevni red sestanka določi odbor ČBS - Mb.</p>

<h2>4. člen – Način sprejema uporabnikov in odprtja uporabniškega profila</h2>

<p>Uporabnik časovne banke lahko postane vsaka fizična ali pravna oseba, ki s pisno izjavo zaprosi za sprejem in se zaveže spoštovati ta pravilnik. Pisna izjava mora vsebovati ime in priimek kandidata, naslov stalnega prebivališča fizične osebe, ali ime pravne osebe in naslov njenega sedeža, ter ime in priimek osebe odgovorne za sodelovanje v časovni banki (v primeru, da to ni odgovorna oseba pravne osebe, mora biti priloženo tudi pisno pooblastilo odgovorne osebe). Prijava mora vsebovati tudi kontaktne informacije (telefon, mail). Pisni izjavi mora biti priložena osebna fotografija in fotokopija enega od osebnih dokumentov.<br />
Kandidata v projekt sprejme posrednik na podlagi popolne pisne izjave ali prijave na internetni strani <a href="http://www.cbs-mb.si">www.cbs-mb.si</a> in po potrebi priporočila enega izmed članov društva ali razgovora s kandidatom. Po sprejemu posrednik uporabniku odpre internetni profil na strani www.cbs-mb.si z osebnim uporabniškim imenom in dostopnim geslom.<br />
Uporabniki se pri menjavah identificirajo z osebnim dokumentom.</p>

<h2>5. člen – Uporabniški profil</h2>

<p>Uporabniški profil na internetnem portalu <a href="http://www.cbs-mb.si">www.cbs-mb.si</a> je vezan na uporabnika in ni prenosljiv.<br />
Navajanje neresničnih podatkov ob včlanitvi ali na internetnem portalu www.cbs-mb.si  se lahko kaznuje z izključitvijo uporabnika.<br />
Uporabnik je dolžan svoj uporabniški profil uporabljati v skladu s tem pravilnikom in registracijskim sporazumom.</p>

<h2>6. člen – Pravice uporabnikov</h2>

<p>Vsak uporabnik časovne banke ima pravico:
biti obravnavan dostojanstveno, skrbno, pravično in s spoštovanjem s strani ostalih uporabnikov časovne, administratorja in posrednikov;
dobiti ure za opravljene storitve, v skladu z določbami tega pravilnika;
hraniti pridobljene časovne ure na svojem računu;
zamenjati svoje časovne ure za storitve, ki jih nudijo ostali uporabniki časovne banke;
podariti ure drugemu uporabniku časovne banke ali ČBS - Mb;
zavrniti katerega koli ponudnika ali iskalca storitve brez obrazložitve;
do varovanja svoje zasebnosti in osebne integritete;
na podlagi svojih izkušenj, prispevati k izboljšanju sodelovanja in delovanja ČBS - Mb

<h2>7. člen – Dolžnosti uporabnikov </h2>

<p>Vsak uporabnik časovne banke mora:
<ul>
<li>spoštovati zasebnost in osebno integriteto ostalih uporabnikov časovne banke;</li>
<li>biti skrben in dosleden pri opravljanju storitev preko časovne banke;</li>
<li>biti dovzeten za nasvete drugih uporabnikov in posrednikov;</li>
<li>svoje storitve in menjave opravljati vestno in s pripravljenostjo premostiti nastale nesporazume na miren način.</li>
</ul>
</p>

<h2>8. člen – storitve, ki vključujejo osebe, ki potrebujejo posebno varstvo</h2>

<p>Uporabniki, ki ponujajo storitve, ki vsebujejo delo in stik z osebami, ki potrebujejo posebno varstvo (otroci, osebe s posebnimi potrebami) morajo pred opravljanjem takšnih storitev opraviti poseben razgovor s posrednikom ali drugo s strani časovne banke določeno osebo. ČBS - Mb, kljub razgovoru ne odgovarja za primernost teh oseb.<br />
Uporabnikom, ki iščejo in koristijo storitve, ki vsebujejo delo in stik z osebami, ki potrebujejo posebno varstvo (otroci, osebe s posebnimi potrebami) priporočamo, da pred opravljanjem takšnih storitev opravijo poseben razgovor s ponudnikom storitve. </p>

<h1>Temeljna načela časovne banke</h1>

<h2>9. člen</h2>

<p>Vsaka storitev je vrednotena po času trajanja.</p>

<h2>10. člen</h2>

<p>Ne glede na naravo in način izvedbe so si vse storitve enakovredne.</p>

<h2>11. člen</h2>

<p>Vsakdo ima možnost ponuditi svoje formalno ali neformalno pridobljeno znanje in storitve, ki ne nasprotujejo moralnim pravilom ali prisilnim predpisom, ki veljajo na ozemlju Republike Slovenije.</p>

<h2>12. člen</h2>

<p>Uporabniki časovne banke skozi izmenjavo krepijo medsebojno zaupanje in pomagajo graditi dostojanstvene in pozitivne odnose v skupnosti.</p>

<h1>Delovanje in vodenje časovne banke in njenih evidenc</h1>

<h2>13. člen</h2>

<p>Časovna banka deluje na podlagi sodelovanja in izmenjave med njenimi uporabniki. Transakcije časovnih ur in evidence so vodene na internetnem portalu <a href="http://www.cbs-mb.si">www.cbs-mb.si</a>, do katerega lahko uporabniki dostopajo preko svojega uporabniškega profila. <br />
Transakcijo časovnih ur je mogoče izvesti s pomočjo internetnega portala <a href="http://www.cbs-mb.si">www.cbs-mb.si</a>, na zahtevo uporabnika pa lahko transakcijo v njegovem imenu izvede posrednik.<br />
Uporabnik lahko posrednika kontaktira osebno ali preko telefona v času uradnih ur. <br />
Uradne ure potekajo v prostorih Mladinskega informacijskega - svetovalnega centra INFOPEKA, Ob železnici 16, Maribor, vsak delovnik med 10. in 18. uro ali na telefon 02 300 68 500. Sčasoma se bodo Infopeki pridružile tudi druge informacijske točke.</p>

<h2>14. člen</h2>

<p>Internetni portal <a href="http://www.cbs-mb.si">www.cbs-mb.si</a> vodi administrator v sodelovanju s posredniki.</p>

<h2>15. člen</h2>

<p>Odbor ČBS - Mb lahko odloči, da določena storitev ni v skladu s temeljnimi načeli ČBS - Mb in prepove njeno opravljanje.</p>

<h2>16. člen</h2>

<p>Odbor ČBS - Mb lahko posameznemu uporabniku v primeru kršitve pravil in temeljnih načel časovne banke omeji dostop do internetnega portala <a href="http://www.cbs-mb.si">www.cbs-mb.si</a> ali ga izbriše iz evidenc.</p>

<h2>17. člen</h2>

<p>Zoper odločitve posrednikov je mogoča pritožba. O pritožbi zoper odločitev posrednika brez nepotrebnega odlašanja odloči administrator. <br />
Zoper odločitve administratorja je dovoljena pritožba. O pritožbi zoper odločitev administratorja brez nepotrebnega odlašanja odloči odbor ČBS - Mb. Odločitev odbora ČBS - Mb je dokončna.</p>

<h1>Način izmenjave časovnih ur</h1>

<h2>18. člen</h2>

<p>Najmanjša enota plačila je pol ure. Uporabnik prejme najmanj pol ure za vsako storitev, ki jo opravi.
Če storitev traja dlje, se uporabnika dogovorita o številu ur, do katerih je izvajalec storitve upravičen. </p>

<h2>19. člen</h2>

<p>Uporabnik, kateremu je bila s strani drugega uporabnika opravljena določena storitev, je dolžan na račun izvajalca prenesti opravljeni storitvi sorazmerno količino časovnih ur. Transakcijo je dolžan izvesti v 72 urah od izvedbe storitve.</p>

<h2>20. člen</h2>

<p>Vsak uporabnik, ki se prijavi v ČBS - Mb, prejme 10 ur. Na portalu se teh 10 ur prikaže, kot limit uporabniškega računa.</p>

<h2>21. člen</h2>

<p>V primeru, da uporabnik nudi skupinsko storitev, ki se je udeleži več udeležencev mora spoštovati načelo, da je upravičen le do ur, ki jih je porabil za izvajanje te storitve. Presežek ur po svoji presoji prenese na časovno banko ali drugo organizacijo, ki je vključena v sistem časovne banke.</p>

<h1>Odgovornost za škodo, nastalo v povezavi z izvajanjem storitev</h1>

<h2>22. člen</h2>

<p>Uporabnik odgovarja za škodo, ki jo namenoma ali zaradi malomarnosti povzroči pri opravljanju storitve preko časovne banke ali pri uporabi portala <a href="http://www.cbs-mb.si">www.cbs-mb.si</a>.<br />
Uporabnik odgovarja za zlorabo podatkov ali portala <a href="http://www.cbs-mb.si">www.cbs-mb.si</a> v namene, ki niso v skladu z dejavnostjo ČBS – Mb ali niso v skladu z njenimi temeljnimi načeli.</p>

<h2>23. člen</h2>

<p>Uporabniki časovne banke so odgovorni za škodo nastalo pri izvajanju menjav v skladu s pravnim redom Republike Slovenije. Časovna banka ne odgovarja za škodo nastalo pri izvajanju izmenjav ali kakršnokoli drugo škodo povezano s tem.</p>

<h2>24. člen</h2>

<p>Časovna banka ne odgovarja za kakovost storitve opravljene s strani uporabnikov.</p>
 
<h2>25. člen</h2>

<p>ČBS - Mb osebne podatke uporabnikov zbira, obdeluje in širi v skladu Zakonom o varstvu osebnih podatkov (<a href="http://zakonodaja.gov.si/rpsi/r05/predpis_ZAKO5245.html">ZVOP-1-UPB1, ur. l. št. 94/2007)</a>.</p>

<h2>26. člen</h2>

<p>Uporabniki se zavezujejo, da bodo v primeru morebitnega postopka pred uradnimi organi posredovali vse zahtevane podatke.</p>

<h2>27. člen</h2>

<p>Ta pravilnik sprejme in spreminja odbor Časovne banke Maribor.</p>


<i>V Mariboru, 8.1.2011</i>

	                    
    </div>
{% endblock %}
