{% extends "template_base.html" %}
{% load i18n %}
{% block title %} Pravila in pogoji članstva Časovne banke Maribor {% endblock %}

{% block content %}
    <div class="section_3">

<h1>Pravila in pogoji članstva Časovne banke Maribor</h1>

<p><b>Pomembno opozorilo:</b> S tem ko postanete uporabnik Časovna banka Maribor (v nadaljevanju ČBS-Mb), se zavezujete, da ste prebrali ta Pravila in pogoje članstva (v nadaljevanju Pravila) ter Pravilnik Časovne banke Maribor in sprejemate določbe vseh navedenih dokumentov.<br />
Vsakič, ko se vpišete v katerokoli storitev ČBS-Mb, potrjujete, da se strinjate z vsemi določbami in sprejemate vse pogoje veljavnega sporazuma. V kolikor se z določbami ne strinjate, vam uporaba storitve ni dovoljena in se ne smete registrirati. Čistopis zadnje verzije Pravil lahko kadarkoli zahtevate z e-pošto naslovljeno na <a href="mailto:cbs.maribor@gmail.com">cbs.maribor@gmail.com</a>.</p>

<h2>1. Vsebina</h2>

<p>Ta Pravila o uporabi storitev ČBS-Mb se nanašajo na pogoje uporabe storitve ter predstavljajo pravno veljaven in zavezujoč sporazum med ponudniki in uporabniki storitve ČBS-Mb.<br />
Ponudnik storitve ČBS-Mb, lastnik in skrbnik aplikacije <a href="http://cbs-mb.si">cbs-mb.si</a> ter z njo povezanih storitvenih dejavnosti je Časovna banka Maribor oziroma njen odbor, v imenu katerega nosi polno odgovornost Društvo za razvoj humanistike – <a href="http://www.zofijini.net">Zofijini ljubimci</a>.<br />
Časovna banka Maribor je podružnica <a href="http://www.casovnabanka.si/">Časovne banke Slovenije</a>. V imenu banke je član Zveze društev Časovna banka Slovenije, društvo Zofijini ljubimci.
Uporabnik je vsaka oseba, ki vstopi v ČBS-Mb in ji administrator dodeli uporabniško ime in geslo za dostop do <a href="http://cbs-mb.si">cbs-mb.si</a>.</p>

<h2>2. Pogoji uporabe storitve</h2>

<p>Članstvo v ČBS-Mb je namenjeno vaši lastni uporabi. Registracija drugih oseb ni dovoljena, za kar jamčite s polno odškodninsko odgovornostjo in nase prevzemate pasivno legitimacijo v primeru spora. Ni dovoljeno pooblastiti ali prijaviti drugih oseb oziroma drugače preusmeriti vašega uporabniškega računa. Delovanje v sklopu banke je neprofitno naravnano. Prav tako ni dovoljena uporaba storitve za kakršnekoli nezakonite namene.<br />
ČBS-Mb lahko po lastni presoji zavrne dodelitev uporabniškega imena, ki nakazuje na drugo osebo, je zaščiteno s pravicami prava blagovnih znamk ali drugimi pravicami, je obsceno ali drugače nesprejemljivo.<br />
ČBS-Mb si pridržuje pravico do takojšnje izključitve uporabnika in prekinitve članstva brez predhodnega obvestila v primeru kršitve pravil uporabe storitve.
Uporabnik lahko kadarkoli prekine svoje članstvo.</p>

<h2>3. Opis portala</h2>

<p>Portal <a href="http://cbs-mb.si">cbs-mb.si</a> je komunikacijska točka, skozi katero je uporabnikom omogočeno ponujanje, iskanje in izmenjavanje storitev za časovne ure.<br />
ČBS-Mb ne daje jamstev za izmenjave, kot tudi ne zagotavlja, da so podatki, ki jih posredujejo uporabniki točni, pravilni oziroma uporabni.
Portal uporabljate na lastno odgovornost.</p>

<h2>4. Način uporabe storitve</h2>

<p>Strinjate se, da boste storitev uporabljali pod naslednjimi pogoji:
<ul class="custom"><li>Uporabnik je osebno odgovoren za vsebine oziroma podatke posredovane, objavljene ali prikazane na aplikaciji <a href="http://cbs-mb.si">cbs-mb.si</a> oziroma posredovane drugim uporabnikom.</li>
<li>Uporabnik bo vse podatke in informacije pridobljene v okviru storitve obravnaval kot zasebne in zaupne ter jih ne bo posredoval nikomur brez dovoljenja osebe, ki jih mu/ji je posredovala.</li>
<li>Podatki, ki jih uporabnik predloži ob registraciji ali jih sporoča ostalim uporabnikom in njegove aktivnosti povezane s ČBS-Mb, kot na primer vsebine vašega profila, vaša povpraševanja, ponudbe in izmenjave, ne smejo biti lažne ali nedovoljene narave, poniževalne ali netočne.</li>
<li>Uporabnikove aktivnosti ne smejo ustvarjati nikakršnih obveznosti za ČBS-Mb.</li>
<li>Uporabnikove aktivnosti ne smejo biti na nikakršen način usmerjene v onesposobitev tega portala ali prevzem nadzora nad njim.</li>
<li>Uporabnik se mora vzdržati vsakršnega ravnanja, ki nasprotuje moralnim pravilom ali prisilnim predpisom veljavnim na ozemlju Republike Slovenije.</li></ul>
</p>

<h2>5. Zasebnost in varstvo podatkov</h2>

<p>ČBS-Mb bo ravnala zaupno z vsemi osebnimi podatki in informacijami pridobljenimi od uporabnikov in bo takšne podatke uporabljala ali razkrila le za namene, zaradi katerih jih je z vašim privoljenjem zbirala ali zakonsko zahtevala.<br />
S sprejemom Pravil in uporabo storitve se strinjate, da ČBS-Mb, ne more zagotoviti varnosti ali zasebnosti informacij, ki jih prenašate preko Interneta ali elektronske pošte, ter se strinjate, da nas ne boste smatrali za kakorkoli odgovorne v povezavi z uporabo vseh tovrstnih informacij s strani tretjih oseb.<br />
S sprejemom Pravil se strinjate, da ČBS-Mb, ni odgovorna za ravnanje tretjih oseb z informacijami, ki jim jih pošljete vi sami.<br />
S sprejemom Pravil se strinjate, da ČBS-Mb, ne prevzema nobene odgovornosti za vsebino ali pravne oziroma stvarne napake sporočil, ki jih pošiljate ali prejmete v okviru te storitve.<br />
S pristankom na ta Pravila in z registracijo pristanete na to, da se podatki lahko uporabljajo za naslednje aktivnosti:
<ul class="custom"><li>povabila na različna srečanja/prireditve, ipd., ki jih organizira ČBS-Mb za uporabnike;</li>
<li>izpostavitev vašega uporabniškega profila na komplementarnih produktih (spletni magazin, ipd. v različnih oblikah, kot so npr.: najaktivnejši uporabniki, najbolj priljubljeni uporabniki, ipd.).</li></ul></p>
<p>ČBS-Mb uporabnikom zagotavlja, da varuje vse osebne podatke uporabnikov. Vsi posredovani osebni podatki uporabnikov so namenjeni izključno uporabi ČBS-Mb ter administraciji storitve.</p>

<h2>6. Nadzor nad uporabo</h2>

<p>Z namenom izvrševanja določb tega sporazuma si ČBS-Mb pridržuje pravico do nadzora nad vsemi javnimi objavami in sporočili znotraj storitve.<br />
ČBS-Mb ne more in ne nadzoruje vseh sporočil ter gradiva, ki je posredovano v okviru storitve s strani uporabnikov in za to ni odgovorna. ČBS-Mb si pridržuje pravico, vendar se k temu ne zavezuje, da lahko izbriše, premakne ali spremeni katerakoli sporočila oziroma gradivo, ki po njenem lastnem mnenju kršijo določbe tega sporazuma ali pa se lahko smatrajo kot nesprejemljiva po splošnih načelih. Osebe, ki tovrstno sporno gradivo posredujejo v okviru storitve, so in ostanejo odgovorne za kršitve ne glede na poseg ČBS-Mb.</p>

<h2>7. Odgovornost</h2>

<p>Vaše izmenjave in dogovori o njih so vaša odgovornost. Pri sklepanju dogovorov imate svobodno izbiro s katerim uporabnikom, kdaj in v kakšnem obsegu jih boste sklenili.<br />
Za povzročeno materialno in nematerialno škodo ste odgovorni po splošnih pravilih obligacijskega prava.<br />
ČBS-Mb ne jamči, da bo vaša uporaba storitev <a href="http://cbs-mb.si">cbs-mb.si</a> varna, neprekinjena, vedno na razpolago in brez napak. Strinjate se, da so določeni primeri nedostopnosti storitve ali napak v objavljenem gradivu lahko posledica višje sile.<br />
Vsak uporabnik sam odgovarja za ohranjanje tajnosti in sigurnosti svojega uporabniškega imena in gesla. Uporabnik odgovarja za vse kar se odvija na portalu v zvezi z njegovim uporabniškim računom.<br />
Uporabnik je dolžan Administratorja takoj obvestiti o vsaki nepooblaščeni uporabi njegovega uporabniškega imena in gesla.<br />
ČBS-Mb in administratorji niso odgovorni za kakršnokoli izgubo ali škodo nastalo zaradi nespoštovanja določb teh Pravil.</p>

<h2>8. Posledica kršitve Pravil</h2>

<p>Posledica kršitve teh pravil je izključitev iz ČBS-Mb in portala <a href="http://cbs-mb.si">cbs-mb.si</a> in izbris uporabniškega računa. V primeru dvoma lahko administrator do dokončne odločitve zamrzne uporabniški račun.</p>

<h2>9. Zunanje povezave</h2>

<p>Storitev lahko vsebuje povezave na različne zunanje povezave, kot so na primer druga Internetna spletišča, posamezne strani ali drugi viri. Strinjate se, da ČBS-Mb ni odgovorna za dostopnost, vsebino ali napake zunanjih povezav.</p>

<h2>10. Spremembe in dopolnitve sporazuma</h2>

<p>Določbe Pravil se lahko kadarkoli neomejeno spremenijo, dopolnijo ali razširijo, pri čemer bo ČBS-Mb o tem uporabnike obvestila po elektronski pošti, spremenjena pravila pa bodo dostopna tudi na <a href="http://cbs-mb.si">cbs-mb.si</a>.<br />
Kadarkoli lahko neomejeno spremenimo, ukinemo ali prekinemo katerikoli del storitve, kakor tudi dostopnost do katerekoli lastnosti storitve, aplikacije, baze podatkov ali posameznih vsebin. Prav tako lahko vzpostavimo dodatne omejitve na določene lastnosti in dele storitve ali omejimo vaš dostop do delov ali do celotne storitve brez predhodnega obvestila.<br />
S sprejemom teh pogojev se strinjate, da boste redno spremljali in spoštovali določbe verzije, ki bo veljala v času vaše uporabe storitve.</p>

<h2>11. Komunikacija in reševanje sporov</h2>

<p>Za vprašanja, pripombe in pritožbe, ki se nanašajo na storitev, se najprej obrnite na e-poštni naslov <a href="mailto:cbs.maribor@gmail.com">cbs.maribor@gmail.com</a>.</p>

<h2>12. Veljavnost e-sporazuma</h2>

<p>Prebral/a sem sporazum o uporabi ČBS-Mb in portala <a href="http://cbs-mb.si">cbs-mb.si</a> ter ga sprejemam. S podpisom ali klikom na gumb »Pridruži se« potrjujem, da bom spoštoval/a in upošteval/a določila sporazuma.</p>

    </div>
{% endblock %}
