{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Administracija{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans "Časovna banka" %}</h1>
{% endblock %}

{% block nav-global %}
<a href="{% url rosetta-home %}">{% trans "Prevodi" %}</a> |
<a href="{% url user-send-email-to-all%}">{% trans "Pošlji sporočilo vsem uporabnikom" %}</a> |
<a href="{% url report1 %}">{% trans "report 1" %}</a> |
<a href="{% url report2 %}">{% trans "report 2" %}</a> |
<a href="{% url report3 %}">{% trans "report 3" %}</a> |
<a href="{% url report4 %}">{% trans "report 4" %}</a> |
<a href="{% url report5 %}">{% trans "report 5" %}</a>
{% endblock %}
