{% load i18n %}
{% url serv-transfer-view transfer.id as transfer_url %}
{% if not transfer.is_direct %}
{% blocktrans with transfer.creator.username as transfer_creator and transfer.service.creator.username as service_creator %}Pozdravljeni,

Prenos, ki ga je zahteval uporabnik {{ transfer_creator }} za storitev uporabnika {{ service_creator }}, je bil preklican. Podrobnosti preklicanega prenosa lahko vidite na {{ site_url }}{{ transfer_url }}.

- {{ site_url }} Maribor{% endblocktrans %}
{% else %}
{% blocktrans with transfer.creator.username as transfer_creator and transfer.recipient.username as transfer_recipient %}Pozdravljeni {{ transfer_recipient }},

Prenos, ki ga je z vami ustvaril uporabnik {{ transfer_creator }}, je bil preklican. Podrobnosti preklicanega prenosa lahko vidite na {{ site_url }}{{ transfer_url }}.

- {{ site_url }} Maribor{% endblocktrans %}
{% endif %}
