{% load i18n %} 
<div class="serv {% if serv.is_offer %}offer{% else %}demand{% endif %} {% if not serv.is_active %}inactive{% endif %}">
        <div class="information">
            {% trans "Tip" %}:
            <span class="type">{% if serv.is_offer %}<a href="{% url serv-list %}?the_type=1">{% trans "ponujam" %}{% else %}<a href="{% url serv-list %}?the_type=2">{% trans "povprašujem" %}{% endif %}</a></span> /
            {% if not serv.is_active %}
                <span class="inactive">{% trans "Nekativen" %}</span> /
            {% endif %}
            {% trans "Območje" %}:
            <span class="zone"><a href="{% url serv-list %}?area={{ serv.area.id }}">
            {% if serv.area %}
                {{ serv.area }}
            {% else %}
                {% trans "Vse" %}
            {% endif %}
            </a></span> /
            {% trans "Category" %}:
            <span class="category"><a href="{% url serv-list %}?category={{ serv.category.id }}">{{ serv.category }}</a></span> /
            <span class="date"> {% blocktrans with serv.pub_date|timesince as time %}Objavljeno {{ time }} nazaj{% endblocktrans %}</span>
        </div>
        <div class="gravatar">
            {% if user.is_authenticated %}
                <a href="{% url user-view serv.creator.id %}">
                    <img src="{% avatar serv.creator 48 %}" alt="{{ serv.creator.username }}" title="{{ serv.creator.username }}"/>
                    <div>{{ serv.creator.username|truncate_chars:7 }}</div>
                </a>
            {% else %}
                <img src="{% avatar serv.creator 48 %}"/>
            {% endif %}
        </div>
        {% if complete_description %}
            <a href="{% url serv-view serv.id %}">
                <div class="description">
                    {{ serv.description|linebreaks }}
                </div>
            </a>
        {% else %}
            <a href="{% url serv-view serv.id %}" alt="{{ serv.description|linebreaks }}">
                <div class="description">
                    {{ serv.description|truncatewords:50|linebreaks }}
                </div>
            </a>
        {% endif %}
        <div class="cleaner"></div>
        <div class="information2">
            {{ serv.transfers_count }} {% trans "prenosi" %} / {{ serv.messages_count }} {% trans "komentarji" %} / {{ serv.credit_hours_transfered }} {% trans "hours transferred" %}
        </div>
        <div class="cleaner"></div>
        <div class="buttons">
            {% if user.is_authenticated and serv.creator == user %}
                <a class="action" href="{% url serv-comment-add serv.id %}">{% trans "Komentiraj" %}</a>
                <a class="action" href="{% url serv-edit serv.id %}">{% trans "Uredi" %}</a>
                <form method="POST" action="{% url serv-del serv.id %}"> {% csrf_token %}
                    <input class="action" name="delete" type="submit" value="{% trans 'Odstrani' %}"/>
                </form>
                {% if serv.is_active %}
                    <form method="POST" action="{% url serv-deactive serv.id %}"> {% csrf_token %}
                        <input class="action" name="deactive" type="submit" value="{% trans 'Onemogoči' %}"/>
                    </form>
                {% else %}
                    <form method="POST" action="{% url serv-active serv.id %}"> {% csrf_token %}
                        <input class="action" name="active" type="submit" value="{% trans 'Omogoči' %}"/>
                    </form>
                {% endif %}
            {% endif %}
            {% if user.is_authenticated and serv.creator != user %}
                {% transfer_actions serv %}
                <a class="action" href="{% url serv-comment-add serv.id %}">{% trans "Komentiraj" %}</a>
                <a class="action" href="{% url messages_compose_to serv.creator.username %}">{% trans "Pošlji zasebno sporočilo" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="cleaner"></div>
