{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Sporočila' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Sporočila' %} / {% block subtitle %} {% endblock %}</h1>
        <ul class="subnavilist">
            <li><a href="{% url messages_inbox %}" class="{% current_tab 'inbox' 'subtab' %}">{% trans "Prejeto" %}</a><small>/</small></li>
            <li><a href="{% url messages_outbox %}" class="{% current_tab 'outbox' 'subtab' %}">{% trans "Poslana sporočila" %}</a><small>/</small></li>
            <li><a href="{% url messages_compose %}" class="{% current_tab 'new' 'subtab' %}">{% trans "Novo sporočilo" %}</a><small>/</small></li>
            <li><a href="{% url messages_trash %}" class="{% current_tab 'trash' 'subtab' %}">{% trans "Izbrisano" %}</a></li>
        </ul>
        <div id="subcontent">
            {% block subcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
