{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Skupnost' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <form action="." method="get" class="find_services find_people">
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Najdi ljudi' %}"/>
        </form>
        <div class="services people">
            {% for person in people.object_list %}
                {% include "user/single_person_view.html" %}
            {% empty %}
                <p>{% trans "Nikogar nismo našli" %}.</p>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if people.has_previous %}
                    <a href="?{{ form.as_url_args }}&amp;page={{ people.previous_page_number }}">{% trans "prejšnja" %}</a>
                {% endif %}

                <span class="current">
                    {% blocktrans with people.number as number and people.paginator.num_pages as num_pages %}
                    Stran {{ number }} od {{ num_pages }}
                    {% endblocktrans %}
                </span>

                {% if people.has_next %}
                    <a href="?{{ form.as_url_args }}&amp;page={{ people.next_page_number }}">{% trans "naslednja" %}</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
