{% load i18n %}{% url user-remember-confirm uid token as url_remember %}{% blocktrans with user.username as username %}Pozdravljeni,

To spročiloo ste prejeli, ker ste zahtevali ponastavitev gesla za
račun na naslovu {{ protocol }}://{{ site_name }}.
Če ponastavitve gesla niste zahtevali, prezrite sporočilo.
Svoje geslo lahko spremenite na naslednjem naslovu:
{{ protocol }}://{{ domain }}{{ url_remember }}

Vaše uporabniško ime je: {{ username }}

Hvala, da uporabljate našo spletno stran.

--
- {{ site_name }} Maribor{% endblocktrans %}
