{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Spremeni geslo' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Spremeni geslo' %}</h1>
        {% if form %}
            <p>{% trans 'Potrdili smo vašo identiteto, lahko nastavite svoje novo geslo. Poskusite si ga tokrat zapomniti. V primeru, da ga pozabite, lahko isti obrazec uporabite ponovno, dovolj je, da vnesete uporabiško ime ali elektronski naslov.' %}
            <form action="" method="post">
                {% csrf_token %}
                <fieldset>
                    {% include "main/form_snippet.html" %}
                </fieldset>
                <input class="submit" type="submit" value="{% trans 'Spremeni geslo' %}"/>
            </form>
        {% else %}
            <p>{% trans '<strong>Napaka!</strong> Ta povezava do potrditve je napačna ali je potekla. Preverite ali uporabljate pravilno povezavo, ali poskusite ponovno na novo nastaviti svoje geslo.' %}</p>
        {% endif %}
    </div>
{% endblock %}
