{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Ste pozabili svoje geslo?' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Ste pozabili svoje geslo?' %}</h1>
        <p>{% trans 'Obrazec izpolnite tako, da vam lahko na vaš elektronski naslov pošljemo povezavo, ki vam bo omogočila spremeniti vaše geslo.' %}
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Pošlji potrditveno sporočilo' %}"/>
        </form>
    </div>
{% endblock %}
