{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Uredi profil' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Uredi profil' %}</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Shrani' %}"/>
        </form>
    </div>
{% endblock %}
