{% extends "template_base.html" %}
{% load i18n %}
{% block title %} {% trans 'Pridruži se' %} {% endblock %}

{% block content %}
    <div class="section_3">
        <h1>{% trans 'Pridruži se' %}</h1>
        <form action="" method="post">
	<p style="text-align:right;font-size:16px;"><a href="{% url user-register-org %}">Obrazec za organizacije</a><br /><a href="{% url user-register-youth %}">Obrazec za mladoletne</a></p>
            {% csrf_token %}
            <fieldset>
                {% include "main/form_snippet.html" %}
            </fieldset>
            <input class="submit" type="submit" value="{% trans 'Pridruži se' %}"/>
        </form>
    </div>
{% endblock %}
