{% load i18n %}
<div class="serv person">
        <div class="information">
            {% trans "Uporabnik" %}:
            <span>{{ person.username }}</span> /
            {% trans "Ime in priimek" %}:
            <span>{{ person.first_name }} {{ person.last_name }}</span> /
            {% trans "Kredit" %}:
            <span>{{ person.balance_hours }} ur</span>
        </div>
        <div class="gravatar">
            <a href="{% url user-view person.id %}">
                <img src="{% avatar person 48 %}" alt="{{ person.username }}" title="{{ person.first_name }}" "{{ person.last_name }}"/>
                {{ person.username|truncate_chars:6 }}
            </a>
        </div>
        <a href="{% url user-view person.id %}"><div class="description">{{ person.description|linebreaks }}</div></a>
        {% if user.is_authenticated %}
        <div class="cleaner"></div>
        <div class="buttons">
            <a class="action" href="{% url serv-transfer-new-to person.id %}">{% trans "Prenesi ure" %}</a>
            <a class="action" href="{% url user-view-services person.id %}">{% trans "Poglej storitve uporabnika" %}</a>
        </div>
        {% endif %}
</div>
<div class="cleaner"></div>
